<div class="container">
  <div class="hero is-fullheight">
    <div class="hero-body m-auto">
      <nav class="navbar navbar-expand-lg justify-content-end">
        {{! Send to login }}
        <a href="/login"><button id="login" class="btn bg-dark text-white mx-2">
            Login
          </button></a>
        {{! Send to sign up }}
        <a href="/login"><button
            id="signup"
            class="btn bg-dark text-white mx-2 ml-md-auto"
          >
            Not a member? Sign Up!
          </button></a>
      </nav>
      <div
        class="card text-center bg-dark text-white w-75 mx-auto"
        id="welcome"
      >
        <h1 class="card-title">Passing Notes</h1>
        <div class="card-body">
          <img src="./img/folded-note.jpeg" alt="folded note" class="mb-5" />
          <div class="card-footer small">
            <a
              href="https://github.com/bekkanunez/passing-notes-chatapp"
              class="text-white"
              target="_blank"
            >Open-Source Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>