<h1 class="justify-content-center row col-12 mt-5">Passing Notes</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h5 class="card-title">Already a member? Login Here</h5>
        <div class="form-group login-form">
          <div>
            <label>Email</label>
            <input type="email" id="login-email" class="form-control" />
          </div>
          <div>
            <label>Password</label>
            <input type="password" id="login-pwd" class="form-control" />
          </div>
          <button
            type="button"
            id="login-btn"
            class="btn btn-primary btn-lg float-right mt-2"
          >Login</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h5 class="card-title">
          Not yet a member? Create an account here!
        </h5>
        <div class="form-group signup-form">
          <div>
            <label>First Name</label>
            <input
              type="first-name"
              id="create-first-name"
              class="form-control"
            />
          </div>
          <div>
            <label>Last Name</label>
            <input
              type="last-name"
              id="create-last-name"
              class="form-control"
            />
          </div>
          <div>
            <label>Email</label>
            <input type="email" id="create-email" class="form-control" />
          </div>
          <div>
            <label>Password</label>
            <input type="password" id="create-pwd" class="form-control" />
          </div>
          <button
            type="button"
            id="create-btn"
            class="btn btn-primary btn-lg float-right mt-2"
          >Create Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- <script type="javascript" src="/js/index.js"></script> --}}