<h1 class="justify-content-center row col-12 mt-5">Passing Notes</h1>
<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card bg-dark text-white login-card">
      <div class="card-body">
        {{! Needs Login functionality }}
        <h5 class="card-title">Already a member? Login Here</h5>
        <div class="form-group login-form">
          <label for="username-login">Username</label>
          <input type="username" class="form-control" id="username-login" />
        </div>
        <div>
          <label for="password-login">Password</label>
          <input type="password" class="form-control" id="password-login" />
        </div>
        <a href="#" class="btn btn-primary btn-lg float-right mt-2">Login</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-dark text-white signup-card">
      <div class="card-body">
        {{! Needs sign up functionality }}
        <h5 class="card-title">Not yet a member? Create an account here!</h5>
        <div class="form-group singup-form">
          <label for="username-signup">Username</label>
          <input type="username" class="form-control" id="username-signup" />
        </div>
        <div>
          <label for="email-signup">Email</label>
          <input type="email" class="form-control" id="email-signup" />
        </div>
        <div>
          <label for="password-signup">Password</label>
          <input type="password" class="form-control" id="password-signup" />
        </div>
        <a href="#" class="btn btn-primary btn-lg float-right mt-2">Create
          Account</a>
      </div>
    </div>
  </div>
</div>