<nav class="navbar navbar-expand-lg justify-content-end">
  {{! Needs logout functionality }}

  <a href="/"><button id="logout" class="btn bg-dark text-white mx-2">
      Logout
    </button></a>
</nav>

<div class="messages row col-12">
  <h1 class="justify-content-center row col-12">Passing Notes</h1>
  <div class="card col-4" style="width: 18rem">
    <div class="card-body">
      {{! Future development? Add search functionality within messages? }}
      <form class="search-form">
        <h3>Welcome, {{firstName}}!</h3>
        <small>You are signed in as: {{email}}</small>
        <h4 class="mt-4">Search Notes</h4>
        <span>
          <input type="text" />
          <button type="submit" class="btn btn-primary mb-2">
            Search
          </button>
        </span>
      </form>
      <div class="private-notes mt-5">
        <h4>Private Notes</h4>
        <ul>
          <li>Other User</li>
          <li>User2</li>
          <li>BFF</li>
        </ul>
      </div>
      <div class="community-notes mt-5">
        <h4>Community Notes</h4>
        <ul>
          <li>Cooking</li>
          <li>Coding</li>
          <li>Puppies</li>
          <li>Art</li>
          <li>The 90s</li>
          <li>Alt Rock</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card col-8" style="width: 18rem">
              <div class="card-body">
                <div>
                  <form id="message-form">
                  <input
                    type="text"
                    id="create-message"
                    class="form-control"
                    placeholder="Send a Message"
                  />
                </div>
                <button
                  id="message-btn"
                  class="btn btn-primary btn-lg float-right mt-2"
                >
                  Send
                </button>
                </form>
              </div>
              <ul class="message-list d-flex-inline" id="messages"></ul>
            </div>
</div>